*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
}

/* Header */

header{
  background-color: #F2F5F8;
  border-bottom: 1px solid #CBD6E2;
}

/* Subheader */

#subheader{
  max-width: 1080px;
  margin: 0 auto;
  color: #2D3E50;
  font-weight: 400;
  font-size: 16px;
  font-family: AvenirNext,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  padding: 14px 0;
}
#subheader *{
  padding-left: 4px;
  padding-right: 4px;
}
#subheader img{
  width: 28px;
}
#subheader #subleft{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#subleft *{
    padding:0 15px;
}
#subleft button{
  border: none;
  background-color: rgb(255, 122, 89);
  font-size: 12px;
  color: white;
  padding: 10px 25px;
  border-radius: 2px;
}

/* Nav */

nav{
  max-width: 1080px;
  margin: 0 auto;
  color: #2D3E50;
  font-size: 15px;
  position: relative;
  padding: 22px 4px;
}
nav #list{
  display:inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#list *{
  display: inline-block;
  color: rgb(45, 62, 80);
  font-weight: 600;
  letter-spacing: 0.16px;
}
#list .listitem{
  padding: 0 15px;
}
.listitem span{
  padding: 0 10px;
}

/* Impostazioni dei blocchi orizzontali */

.centercont{
  max-width: 1080px;
  margin: 0 auto;
  color: #425B76;
}
.leftside{
  float: left;
  width: 50%;
  height:100%;
  position: relative;
}
.rightside{
  float: right;
  width: 50%;
  height:100%;
  position: relative;
}
.centercont:after{
  content: "";
  display: table;
  clear: both;
}

/* Primo blocco orizzontale */

.first{
  height:594px;
}
.leftside #grow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.grey{
  background-color: #F2F5F8;
}
#grow h1{
  font-size: 3em;
  font-weight: 700;
  color: rgb(45, 62, 80);
  letter-spacing: 1px;
  padding-bottom: 25px;
}
.grey .rightside img{
  width: 460px;
  padding-top: 15px;
  position: absolute;
  right: 0;
}
#grow div{
  text-align: left;
  font-size: 20.8px;
  font-weight: 400;
  color: rgb(45, 62, 80);
  padding-bottom:20px;
}
#buttongrow{
  padding-top: 20px;
}
#grow button{
  float: left;
  border: none;
  background-color: rgb(255, 122, 89);
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 25px 50px;
  border-radius: 3px;
  margin-right: 2%;
}
#grow p{
  margin-right:20%;
  font-size: 12px;
  text-align: left;
}
#grow p > img{
  width: 15px;
}
#buttongrow:after{
  content: "";
  display: table;
  clear: left;
}

/* Secondo blocco orizzontale */

.orange{
  background-image: linear-gradient(180deg,#f07155,#ff8f59);
  text-align: center;
}
.orange img{
  width: 130px;
  padding-top: 98px;
}
.orange h1{
  font-size: 2.75em;
  color: white;
}
.orange #description{
  color: white;
  font-weight: bold;
  margin-top: 30px;
  margin-left:240px;
  margin-right:240px;
  line-height: 1.6;
}
#listcontainer{
  margin-bottom: 50px;
}
.whiteblock{
  display: inline-block;
  background-color: #F2F5F8;
  margin-top:50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 30px 20px;
  width:240px;
  height: 160px;
  border: 1px solid rgb(66, 91, 118);
}
.prova{
  position: relative;
  bottom: 20%;
}
.whiteblock h4{
  font-size: 16px;
}
.whiteblock span{
  display: inline-block;
  margin-top: 10px;
}

/* Terzo contenitore orizzontale */

.circle{
  background-color: #f2f5f8;
  background-image: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/new-2017__state3-circles-bg.svg");
}
.circle img{
  margin: 160px 0;
}
.circle h1{
  font-size: 30px;
  font-weight: bold;
  margin-top: 150px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.circle p{
  text-align: left;
  line-height: 1.65;
  font-size: 1em;
  padding-right: 130px;
  padding-left: 20px;
}
.circle button{
  display: block;
  border: none;
  background-color: rgb(255, 122, 89);
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 25px 50px;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 35px;
  margin-left: 20px;
}
.circle #features{
  display: inline-block;
  padding-left: 20px;
  padding-right: 0px;
  font-size: 13px;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
.circle hr{
  display: inline-block;
  width: 270px;
  margin-left: 8px;
  margin-bottom: 2px;
}
.circle #contacts {
  font-size: 13px;
}
#contacts span:not(:first-child){
  display: inline-block;
  padding-left: 20px;
}

/* Quarto contenitore orizzontale (Ho utilizzato i selettori del terzo blocco in quanto identico) */

.whitecircle{
  background-color: white;
  background-image: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/circlesLightGray.svg");
}
.circle #leftbutton{
  display: block;
  margin-left: 20px;
}

/* Per il quinto contenitore ho utilizzato interamente la classe circle */
/* Sesto contenitore */
.whiteline .more{
  width:60%;
}
.whiteline .less{
  width: 40%;
  position: relative;
}
.whiteline h4{
  color: rgb(255, 122, 89);
  margin-top: 90px;
}
.whiteline h1{
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}
.whiteline p{
  line-height: 1.65;
  margin-bottom: 90px;
}
.whiteline button{
  display: inline-block;
  border: none;
  background-color: rgb(255, 122, 89);
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 25px 50px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  margin-top: 130px;
}

/* Settimo contenitore  */

.green{
  background-image: linear-gradient(0deg,#00a4bd,#00bda5);
}
.green h1{
  text-align: center;
  padding: 0 200px;
  padding-top: 150px;
  line-height: 1.375;
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.green #text{
  text-align: center;
  padding: 0 190px;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 1.375;
  color: white;
  font-size: 16px;
}
.green #tablewrapper{
  margin-bottom: 100px;
}
.green #tablewrapper > div{
  display: inline-block;
  text-align: center;
  padding:30px 35px;
}
.green #tablewrapper > div:nth-child(-n+3){
  border-right: 1px solid #fff;
}
.green #tablewrapper > div:nth-child(-n+4){
  border-bottom: 1px solid #fff;
}
.green #tablewrapper > div:nth-child(n+5){
  border-right: 1px solid #fff;
}
.green #tablewrapper > div:last-child{
  border-right:none;
}
#tablewrapper .smalltitle{
  padding: 0 30px;
}
#tablewrapper .icon{
  display: inline-block;
  padding: 15px 0;
}

#tablewrapper h2{
  font-size: 40px;
  color: white;
  position: relative;
  display:inline-block;
}
#tablewrapper h2:after{
  display: inline-block;
  content:"+";
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#tablewrapper #notplus:after{
  content:"";
}
#tablewrapper .smalltitle p{
  font-size: 14px;
  color: white;
  font-weight: 400;
}

/* Ottavo contenitore */

#little{
  float: left;
  width: 40%;
}
#large{
  float: right;
  width: 60%;
}
.superwhite #littlecontainer{
  display: inline-block;
  margin-right:200px;
}
.superwhite .leftside h2{
  font-size: 40px;
  font-weight: 700;
  color: rgb(45, 62, 80);
  margin-top: 150px;
}
.leftside h2 + p{
  font-size: 19.2px;
  display: inline-block;
}
.rightside #logoscontainer{
  margin-top: 120px;
}
.rightside .logos{
  display: inline-block;
  width: 150px;
  padding: 20px;
}
.superwhite #smallbox{
  margin-right: 100px;
}
.superwhite .leftside #smallbox h2{
  display: inline-block;
  font-size: 32px;
  color: rgb(45, 62, 80);
  padding-right: 140px;
  margin-top: 250px;
}
.superwhite .leftside #smallbox p {
  display: inline-block;
  color: rgb(66, 91, 118);
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0;
  line-height: 1.6;
}
.superwhite #smallbox button{
  display: inline-block;
  border: none;
  background-color: rgb(255, 122, 89);
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 25px 50px;
  border-radius: 3px;
}
.superwhite #smallbox small{
  padding-top: 25px;
  display: block;
  color: rgb(124, 152, 182);
  font-size: 12px;
  font-weight: 400;
}

/* .superwhite .rightside #pink{
  display: inline-block;
  margin: 0 auto;
  margin-top: 150px;
  z-index: 0;
} */
.superwhite .rightside #girl{
  width:350px;
  background-color: #f2547d;
  border-radius: 50%;
  display: inline-block;
  margin-top: 150px;
  margin-left: 150px;
  position: relative;
  z-index: 0;
}
.superwhite .rightside #imagecircle{
  display: inline-block;
  position: relative;
  margin-top: -30px;
  margin-left: 150px;
  margin-bottom: 200px;
  z-index: 5;
}
