*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}

/* Header */

header{
  background-color: #F2F5F8;
  border-bottom: 1px solid #CBD6E2;
}

/* Subheader */

#subheader{
  max-width: 1080px;
  margin: 0 auto;
  color: #2D3E50;
  font-weight: 400;
  font-size: 16px;
  font-family: AvenirNext,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  padding: 14px 0;
}
#subheader *{
  padding-left: 4px;
  padding-right: 4px;
}
#subheader img{
  width: 28px;
}
#subheader #subleft{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#subleft *{
    padding:0 15px;
}
#subleft button{
  border: none;
  background-color: rgb(255, 122, 89);
  font-size: 12px;
  color: white;
  padding: 10px 25px;
  border-radius: 2px;
}

/* Nav */

nav{
  max-width: 1080px;
  margin: 0 auto;
  color: #2D3E50;
  font-size: 16px;
  position: relative;
  padding: 22px 4px;
  font-family: AvenirNext,Helvetica Neue,Helvetica,Arial,sans-serif;
}
nav #list{
  display:inline-block;
  position: absolute;
  right: 0;
}
#list *{
  display: inline-block;
  color: rgb(45, 62, 80);
  font-weight: 600;
  letter-spacing: 0.16px;
}
#list .listitem{
  padding: 0 15px;
}
.listitem span{
  padding: 0 10px;
}
