*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}

/* header e nav */

header{
  background-color: #F2F5F8;
}
#subheader{
  max-width: 1000px;
  margin: 0 auto;
}
#subheader img{
  width: 20px;
}
